html {
  color: #fff;
}

#container
{
  font-family: 'Raleway', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
}

#content
{
  text-align: center;
  width: 100%;
  position: relative;
  left: -50%;
  color: #fff;
  font-weight: bold;
  font-size: 6em;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
